.footerComponent{
    width: 100%;
    padding: 15px 0px;
    background-color: teal;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
