*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bannerComponent{
    background: url('../../assets/banner.jpg');
    background-color: #cccccc;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}
.banerTitle{
    width: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 60px;
   
    
}